*{
    margin: 0; /*Espaçamento externo*/
    padding: 0; /*Espaçamento interno*/
    box-sizing: border-box; /*Dar uma pesquisada sobre depois*/
} /*O asterísco pega todas as tags*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
